@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
  color: #ffffff;
}
.container {
  width: 500px;
  margin: 20px auto;
}
.header {
  background-color: #000522;
  text-align: center;
  padding: 1.25rem;
}
.header h1 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 2.25rem;
}
.date {
  background-color: #00486F;
  text-align: right;
  font-size: 0.75rem;
  padding: 0.75rem 2rem 0.75rem 0;
}
ul.currencies {
  height: 500px;
  background-color: #00486F;
}
.add-currency-btn {
  background-color: #00106f;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-top: 3px solid #00106f;
  outline: none;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.25s;
}
